<p>
    <% if comment.comments.any? %>
      <% comment.comments.each do |reply|%>
        <ul>
          <li> Commenter: <%= reply.commenter%> <%= link_to "Reply " ,new_user_article_comment_path(user_id: params[:user_id], article_id: reply.article_id, parent_id: reply.id) %><br>
          <li> Comment: <%= reply.body%>
          <%= render partial: "subcomments", locals: {user_id: params[:user_id], article_id: reply.article_id, comment: reply} %>
        </ul>
      <%end%>
    <%end%>
  
  </p>