
<%# user's home page %>

<h2> Welcome to World's no. 1 Blog Website</h2>

<h3> Articles </h3>

<%# display link to all article of all users %>
<ul>
  <% @article.each do |article| %>
    <li>
      <% base_url =  "/:id/display"%>
      <% user_specific_url = base_url.sub(':id', article.id.to_s) %>
      <%= link_to article.title, user_specific_url %>
    </li> 
  <%end%> 
</ul>
<br>

<%= link_to "Home Page", root_path %> 

